*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text: #fff;
    --bg-header: #2b3034;
    --black-withop: hsl(0, 0%, 0%, .5);
}

header {
    height: 4rem;
    width: 100%;
    background: var(--bg-header);
    display: flex;
    justify-content: space-between;
    color: var(--text);
}

.logo {
    display: flex;
}

.logo img {
    height: 100%;
    width: 60px;
    padding: .2rem;
    margin-left: .5rem;
}

.name h1 {
    font-size: 18px;
    padding-top: 1.2rem;
    text-transform: capitalize;
    font-weight: bolder;
}

.name h2 {
    font: 16px normal;
}

.nav {
    display: none;
    position: absolute;
    top: 4rem; right: 0;
    background-color: var(--black-withop);
    width: 50%;
    border-bottom-left-radius: 10px;
}

.nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.nav ul li {
    padding-top: .5rem;
}

.nav ul li a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    color: var(--text);
    padding: 2rem;
}

.active {
    display: flex;
}

.toggle-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 1.4rem;
    right: 1rem;
    width: 25px;
    height: 21px;
}

.toggle-btn .btn {
    height: 3px; 
    width: 100%;
    background: var(--text);
    border-radius: 10px;
}

footer {
    background: var(--bg-header);
    color: var(--text);
}

.footer-logo, .socials, .subnav, .contact {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    width: 100%;
}

.footer-logo::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 90%;
    bottom: -5px;
    left: 5%;
    background: hsla(0, 0%, 15%, .5);
    border-radius: 1rem;
}

.footer-logo img {
    width: 70px;
    height: 70px;
}

.socials, .subnav, .contact {
    flex-direction: column;
}

.socials h1, .subnav h1, .contact h1 {
    margin: 1rem 0;
    color: gray;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bolder;
}

.socials i, .subnav i, .contact i {
    position: absolute;
    left: 0;
    padding-left: 7rem;
    padding-bottom: 8rem;
    color: #fff;
}

.socials a, .subnav a, .contact a {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
} 

.copyright {
    padding: .5rem;
    text-align: right;
    color: gray;
    font-size: 10px;
}

.copyright a {
    text-decoration: none;
    color: gray;
    text-transform: capitalize;
}