*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text: #fff;
    --bg-header: hsl(207, 9%, 19%);
    --black-withop: hsl(0, 0%, 0%, .7);
    --puple: hsla(282, 80%, 63%, .9);
}

.nav, .login, .wrap input[type="text"]::after {
    position: absolute;
}

.portfolio, header, .logo, .login, .hero, .news, .sponsor, .contact, footer, .portfolio .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    height: 4rem;
    width: 100%;
    background-color: var(--bg-header);
    padding: 1rem;
    justify-content: space-between;
    flex-direction: row;
    color: white;
}

.toggle-btn {
    display: inherit;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 21px;
    transform: all 5s ease;
}

.toggle-btn .btn {
    height: 3px; 
    width: 100%;
    background: var(--text);
    border-radius: 10px;
}

.logo {
    flex-direction: row;
}

.logo img {
    width: 40px;
    height: 40px;
}

.name {
    padding-left: 5px;
    margin-top: .5rem;
}

.name h1 {
    font-size: 14px;
    font-weight: bolder;
    text-transform: capitalize;
}

.name h2 {
    font: 10px normal;
}

.user {
    font-size: 26px;
    color: white;
}

.hero .btn {
    position: relative;
    top: 2rem;
}

.nav {
    display: none;
    top: 4rem; left: 0;
    width: 50%;
    height: 100vh;
    background: var(--black-withop);
    padding: 1rem 2rem;
    transform: all 1s ease-in;
}

.nav ul {
    list-style-type: none;
    font-size: 18px;
    text-transform: capitalize;
    text-decoration: none;
}

.nav ul li {
    padding-bottom: 1.5rem;
}

.nav ul li a {
    text-decoration: none;
    color: #fff;
}

.about-subnav li, .projects-subnav li {
    display: none;
    padding-left: 1rem;
    font-size: 12px;
}

.fa-chevron-down {
    font-size: 9px;
    margin-bottom: .6rem;
    padding-left: .3rem;
}

.active {
    display: inline-block;
    transform: translateX(0) 1s ease-in;
}

.login {
    top: 4rem; left: 0;
    width: 100%;
    height: 90vh;
    background: hsl(0, 0%, 0%, .5);
    flex-direction: row;
    display: none;
}

.wrap {
    background-color: hsla(100, 100%, 100%, .5);
    height: 30%;
    border-radius: 1rem;
    padding: 1rem;
}

.wrap h1 {
    color: black;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: .5rem;
}

.wrap input[type="text"] {
    border: none;
    border-radius: 1rem;
    padding: .5rem;
    background: none;
    position: relative;
}

.wrap input[type="text"]::after {
    left: 0; top: 0;
    content: ' ';
    height: 2rem;
    width: 100%;
    background: yellowgreen;
    z-index: 1000;
}

.wrap input[type="submit"] {
    margin: 1rem 4.5rem;
    text-transform: uppercase;
    padding: .5rem;
    border-radius: 1rem;
    background: linear-gradient(15deg, #2b3034, #fff);
    font-weight: bolder;
}

.hero {
    height: 50vh;
    background-image: url("/assets/back.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0 1.5rem 0 0;
}

.intro p {
    background: var(--puple);
    color: var(--text);
    padding: 1rem;
    text-align: left;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.hero button {
    border: none;
    background: hsla(207, 9%, 19%, 1);
    padding: 1rem 2.5rem;
    font-weight: bolder;
    color: var(--text);
    border-radius: .5rem;
    text-transform: uppercase;
    box-shadow: 0px 0px 0px 1px var(--puple);
}

.portfolio, .news, .sponsor, .contact, footer {
    padding: 1.5rem;
}

.portfolio h1, .news h1, .sponsor h1, .contact h1 {
    font-size: 22px;
    padding-bottom: 2rem;
}

.portfolio, .sponsor {
    background: #f1f1f1;
}

.portfolio .cards {
    flex-direction: row;
    gap: 1rem;
}

.portfolio .cards .card {
    text-align: center;
}

.portfolio .cards .card i {
    font-size: 40px;
    padding-bottom: 1rem;
}

.portfolio .cards .card h2 {
    font-size: 18px;
    padding: .5rem;
}

.portfolio .cards .card p {
    text-align: left;
    font-size: 14px;
}

.news-banner {
    width: 100%;
    row-gap: 1rem;
}

.news .news-banner .ban img {
    width: 300px;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.news .news-banner .ban h2 {
    padding: .3rem .2rem;
    font-size: 18px;
}

.news .news-banner .ban p {
    font-size: 12px;
    padding: .2rem .8rem;
}

.news .news-banner .ban a {
    position: relative;
    right: -200px;
    padding-bottom: .5rem;
    text-decoration: none;
    font-size: 14px;
}