/* style.css */
*, *::before, *::after {
    font-family: 'Arial';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #333;
    width: 100%; 
}

header {
    background-color: purple;
    color: white;
    padding: 15px 0;
    width: 100%;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    text-transform: capitalize;

}

.header-left { 
    display: block;
    margin-bottom: 5px;
}

nav.header-right {
    width: 100%; 
    text-align: left; 
    padding-left: 350px;
}

nav ul { 
    list-style: none;
    display: flex;
}

nav li { 
    margin-right: 20px;
    position: relative;
}

nav > ul > li > a { 
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

nav > ul > li > a:hover {
    text-decoration: underline;
    transition: 5s ease;
    color: paleturquoise;
}

nav ul ul {
    display: none; 
    position: absolute;
    background-color: purple;
    top: 100%;
    left: 0;
    z-index: 1;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

nav ul ul li {
    display: block;
    width: 100%;
}


nav ul ul li a { 
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    transition: background-color 0.2s ease; 
}

nav ul ul li a:hover { 
    background-color: #9933CC; 
}


nav li:hover > ul,
nav li:focus-within > ul { 
    display: block;
}

nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: purple;
    z-index: 100;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


nav.sticky > ul { 
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav.sticky > ul > li { 
    margin-right: 20px;
    position: relative;
}

.hero {
    position: relative;
    height: 85vh;
    overflow: hidden;
    width: 100vw;
    padding: 10px;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    text-align: center;
    color: #333;
    border-radius: 5px;
}

button {
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; 
    border-radius: 5px;
}

.hero button:hover {
    background-color: #9933CC; 
    transform: scale(1.05); 
}



section {
    padding: 40px;
    /* max-width: 960px; */
    margin: 0 auto;
}

.projects, .newswrap {
    max-width: 960px;

}

section:nth-child(even) {
    background-color: #f2f2f2; 
}

.card-container {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    grid-gap: 20px; 
    justify-content: center; 
    align-items: start; 
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    width: auto; 
}

.card:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); 
}


.card img {
    max-width: 100%;
    height: 200px;
    width: 100%;
    border-radius: 4px; 
    margin-bottom: 10px; 
}

.collaborators {
    transform: translateY(-5px); 
    overflow: hidden; 
    position: relative; 
}

.collaborators .wrapp .donation-btn {
        gap: 1rem;
        padding: .5rem 2rem;
        justify-content: center;
        align-items: center;
    }

.carousel-container {
    overflow-x: auto; 
    scroll-behavior: smooth; 
    -webkit-overflow-scrolling: touch; 
    padding: 20px; 
}

.carousel {
    display: flex;
}

.slide {
    flex: 0 0 150px; 
    margin-right: 20px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    transform: translateY(-5px); 

}

.slide img {
    max-width: 100%;
    height: auto;
    display: block; 
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    
    width: 100%;
    height: 80%;
    
}

.carousel-control {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.116); 
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1; 
}

.prev {
    left: 5px;
}

.next {
    right: 5px;
}

.carousel-control:hover {
    background-color: #9933CC;
    transform: scale(1.05);
    transition: 1s ease-in;
}

.carousel-container::-webkit-scrollbar {
    display: none;
}

.carousel-container {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}

.icon-container i {
    font-size: 5em;
}


.email-us form {
    max-width: 600px; 
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}

.email-us form input,
.email-us form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    font-size: 16px; 
}

.email-us form textarea {
    height: 150px; 
    resize: vertical; 
}

.email-us form button {
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    align-self: center; 
}

footer {
    color: white;
    background: #2b3034;
    font-size: 12px;
    width: 100%;
}

footer .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .wrapper a {
    color: #f2f2f2;
    text-decoration: none;
}

footer .wrapper a:hover {
    color: #9933CC;
    text-decoration: underline;
}

footer .copyright {
    text-align: center;
}

footer .copyright a {
    color: white;
    text-decoration: none;
}

footer .copyright a:hover {
    color: #9933CC;
    text-decoration: underline;
}