*, *::before, *::after {padding: 0; margin: 0; box-sizing: border-box;}

:root {
    --text: #fff;
    --bg-header: hsl(207, 9%, 19%);
    --black-withop: hsl(0, 0%, 0%, .7);
    --puple: hsla(282, 80%, 63%, .9);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-header);
    color: var(--text);
    padding: 0 5rem;
}

.title {
    margin: 1rem 1.5rem;
    display: flex;
}

.title img {
    width: 50px;
    height: 50px;
}

.name {
    padding: 0 .5rem;
    margin: .7rem 0;
}

.name h1 {
    font-size: 16px;
    font-weight: bolder;
    text-transform: capitalize;
}

.name h2 {
    font: 12px normal;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #fff;
    padding: 2rem;
    display: block;
}

.navbar-links li a:hover {
    color: hsla(300, 100%, 25%, 1);
}

.toggle-btn {
    position: absolute;
    top: 2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-btn .bar {
    background-color: var(--text);
    border-radius: 10px;
    height: 3px;
    width: 100%;
}

.navbar-links ul li ul.dropdown {
    display: block;
}

.navbar-links ul li ul.dropdown {
    width: 550px;
    background: var(--bg-header);
    opacity: .8;
    position: absolute;
    right: 0;
    z-index: 999;
    display: none;
    border-radius: 0 0 1rem 1rem;
}

.navbar-links ul li ul.dropdown a {
    padding: 1rem;
}

.navbar-links ul li:hover ul.dropdown {
    display: block;
}

.hero {
    height: 75vh;
    background: url("../assets/back.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0 1.5rem 0 0;
    filter: blur(2px);
}

.intro p {
    position: absolute;
    top: 15rem;
    padding:  2rem;
    background: hsla(300, 100%, 25%, .6);
    border-radius: 0 1rem 1rem 0;
    padding-left: 12rem;
    font-size: 17px;
    color: var(--text);
    left: 0;
    width: fit-content;
}

.intro .t {
    display: inline-block;
}

.btn button {
    position: absolute;
    top: 25rem;
    left: 15rem;
    padding: .6rem 5rem;
    text-transform: capitalize;
    background: var(--bg-header);
    color: var(--text);
    font-weight: bolder;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

.hero button:hover {
    background: purple;
}

.portfolio, .sponsor {
    background: #ffffff;
    padding: 0 4rem;
}

.portfolio {
    text-align: center;
    padding: 1rem 7rem;
}

.portfolio h1 {
    text-transform: capitalize;
    padding-bottom: 1rem;
}

.portfolio .cards {
    display: flex;
    justify-content: space-evenly;
    padding: .3rem;
}

.portfolio .cards .card {
    padding: .5rem;
}

.portfolio .cards .card i {
    font-size: 35px;
}

.portfolio .cards .card h2 {
    padding: 1rem 0;
    font-size: 18px;
}

.portfolio .cards .card p {
    font-size: 14px;
}

.news {
    background: #e287e20d;
    text-align: center;
    padding: 0 7rem;
}

.news h1 {
    padding: .5rem;
}

.news .news-banner {
    display: flex;
    gap: 1rem;
}

.news .news-banner .ban {
    padding: .5rem;
}

.news .news-banner .ban img {
    width: 300px;
    height: 200px;
    border-radius: 0rem 0rem 0 0;
}

.news .news-banner .ban h2 {
    font-size: 20px;
    padding: .3rem 0;
}

.news .news-banner .ban p {
    padding: .5rem 0;
}

.news .news-banner .ban a {
    text-decoration: none;
    text-transform: capitalize;
    text-align: right;
}

.sponsor h1 {
    text-align: center;
    padding: 1rem;
}

.sponsor .wrapp {
    width: 100%;
    display: flex;
    padding: 1rem;
    font-size: 30px;
}

.sponsor .wrapp .advert {
    width: 50%;
    border-right: 1px solid hsla(207, 9%, 19%, .3);
    padding: 1rem;
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.sponsor .wrapp .advert img {
    width: 50px;
    height: 50px;
}

.sponsor .wrapp .donation-btn {
    display: flex;
    padding: .5rem 5rem;
    gap: 2rem;
    align-items: center;
}

.sponsor .wrapp .donation-btn button {
    text-transform: capitalize;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: #2b3034;
    cursor: pointer;
    color: white;
}

.contact {
    background: #e287e20d;
    padding: 1rem 7.5rem;
    padding-bottom: 2rem;
}

.contact h1 {
    text-transform: capitalize;
    padding-bottom: 1rem;
}

.contact form {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    width: 40%;
}

.contact input[type="text"] {
    border-radius: .5rem;
    background: #f1f1f1;
    padding: .3rem;
    text-transform: capitalize;
    border: none;
}

.contact input[type="email"], textarea {
    border: none;
    border-radius: .5rem;
    padding: .3rem;
    background: #f1f1f1;
    text-transform: capitalize;
    width: 380px;
    position: relative;
    top: .5rem;
}

.contact textarea {
    position: relative;
    top: 1rem;
    resize: none;
}

.contact input[type="submit"] {
    background: #2b3034;
    font-weight: bolder;
    text-transform: uppercase;
    width: fit-content;
    padding: .5rem;
    color: white;
    position: relative;
    top: 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
}

.names {
    padding: .5rem 0;
    gap: 2rem;
}

.footer {
    width: 100%;
    background: #2b3034;
    color: var(--text);
    padding: 0 5rem;
    text-align: right;
    font-size: 12px;
    color: var(--black-withop);
}

.footer a{
    color: var(--black-withop);
    text-decoration: none;
}

.footer .wrapper {
    display: none;
}

body {
    background: lightgrey;
}

@media (max-width: 480px) {
    .toggle-btn {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }
    .hero {
        height: 50vh;
    }


    .hero .t {
        display: none;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
    } 

    .navbar-links li a {
        padding: .5rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-links ul li ul {
        position: relative;
        width: 100%;
    }

    .navbar ul li ul li {
        width: 100%;
    }

    .portfolio, .hero, .news, .sponsor, .sponsor .wrapp, .sponsor .wrapp .advert, .contact, .portfolio .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .intro p {
        position: static;
        background: var(--puple);
        color: var(--text);
        padding: 1rem;
        text-align: left;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    
    .hero button {
        border: none;
        background: hsla(207, 9%, 19%, 1);
        padding: 1rem 2.5rem;
        font-weight: bolder;
        color: var(--text);
        border-radius: .5rem;
        text-transform: uppercase;
        box-shadow: 0px 0px 0px 1px var(--puple);
        position: relative;
        top: 2rem; 
        left: -2.5rem;
    }

    .portfolio, .news, .contact {
        padding: 1.5rem;
    }
    
    .portfolio h1, .news h1, .contact h1 {
        font-size: 22px;
        padding-bottom: 2rem;
    }
    
    .portfolio .cards {
        flex-direction: row;
        gap: 1rem;
    }
    
    .portfolio .cards .card {
        text-align: center;
    }
    
    .portfolio .cards .card i {
        font-size: 40px;
        padding-bottom: 1rem;
    }
    
    .portfolio .cards .card h2 {
        font-size: 18px;
        padding: .5rem;
    }
    
    .portfolio .cards .card p {
        text-align: left;
        font-size: 14px;
    }

    .news-banner {
        flex-direction: column;
    }
    
    .news .news-banner .ban img {
        width: 300px;
        border-radius: 1.5rem 1.5rem 0 0;
    }
    
    .news .news-banner .ban h2 {
        padding: .05rem;
        font-size: 18px;
    }
    
    .news .news-banner .ban p {
        font-size: 12px;
        padding: .1rem .8rem;
    }
    
    .news .news-banner .ban a {
        text-align: right;
        padding-bottom: .5rem;
        text-decoration: none;
        font-size: 14px;
    }

    .sponsor .wrapp {
        width: 90%;
        padding: 1rem;
        font-size: 25px;
    }

    .sponsor .wrapp .advert {
        width: 100%;
        border: none;
        justify-content: space-between;
        flex-direction: row;
    }

    .sponsor .wrapp .donation-btn {
        gap: 1rem;
        padding: .5rem 2rem;
    }

    .contact {
        padding-bottom: 2rem;
    }

    .contact form {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .contact input, textarea {
        padding: .5rem;
        border: none;
        background: #f1f1f1;
        border-radius: .5rem;
    }

    textarea, .contact input[type="email"] {
        width: 280px;
    }

    .contact input[type="text"] {
        width: 43%;
    }

    .footer {
        justify-content: end;
    }
    
    /* .footer p{
        padding-right: .5rem;
        padding-top: .5rem;
        font-size: 10px;
        color: gray;
        text-align: end;
    
    }
    
    .footer p a {
        color: gray;
        text-decoration: none;
        text-transform: capitalize;
    }
     */
    .footer .wrapper {
        padding: 0 2.5rem 0 4rem;
        display: none;
        justify-content: space-between;
    }

    .footer .wrapper .right {
        flex-direction: column;
    }
    
    .footer .wrapper h1 {
        font-size: 16px;
        color: grey;
        padding: 1rem 0;
    }
    
    .footer .wrapper ul {
        list-style-type: none;
    }
    
    .footer .wrapper a {
        color: #fff;
        text-decoration: none;
        text-transform: capitalize;
        padding-left: .5rem;
    }
    
    .footer .wrapper address {
        padding-left: .5rem;
    }
}